<form class="contact-form mailing-form mc-embedded-subscribe-form" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
  <input type="hidden" name="g" value="{{ settings.newslatter_klaviyo_id }}">
  <div class="form-group clearfix klaviyo_field_group klaviyo_form_actions">
    <input type="email" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="email" id="k_id_email" class="form-ccontrol newsletter" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
    <button type="submit" class="btan btn-success klaviyo_submit_button">{{ settings.newslatter_btn_text }}</button>
  </div>
  <div class="klaviyo_messages">
    <div class="success_message" style="display:none;">
    <div class='coupon-code'>
                              <div class='w70'><p class='thank-msg'> {{ settings.newslatter_coupan }} </p>
                                {% if settings.coupan != '' %}  
                                <p class='coupon-text'>{{ 'layout.coupon_code.text' | t }}<input type="text" value="{{ settings.coupan }}" id="coupan_code"></p>
                                {% endif %}
                              </div>
                              {% if settings.coupan != '' %} 
                              <div class='w30'><p class='save-txt'>{{ 'layout.coupon_code.save' | t }}</p><p class='copy-div'><span class="button_text">{{ 'layout.coupon_code.copy_code' | t }}</span></p></div>
                              {% endif %} 
                            </div>
    </div>
    <div class="error_message" style="display:none;"></div>
  </div>
</form>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('.mc-embedded-subscribe-form', {
    hide_form_on_success: true,
    custom_success_message: true
  });
</script>