<div class="wrapper">

{% include 'breadcrumb' %}
<div class="grid">
  <div id="Createcustomer">
	<div class="template_header">
        <h1 class="title">{{ 'customer.reset_password.title' | t }}</h1>
        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
     </div>
    <div class="form-vertical">
      {% form 'reset_customer_password' %}

        {{ form.errors | default_errors }}

        <label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
        <input type="password" value="" name="customer[password]" id="ResetPassword" class="form-control input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">

        <label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
        <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="form-control input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

        <div>
          <input type="submit" class="btn btn--full" value="{{ 'customer.reset_password.submit' | t }}">
        </div>

      {% endform %}
    </div>

  </div>
</div>
</div>
