{% comment %}
** Recently viewed - homepage partial **
- Draggable section
{% endcomment %}
{% if section.settings.enabileit %}
<div  class="js-recently-viewed hidden recently-viewed__section"
      data-visible-products="{{ section.settings.rv_max_display }}"
  >
  	
   <div class="container-fluid" id="sec{{ section.id }}">
		<div class="row">
			<div class="container">
   <h2 class="section_title xza">{{ section.settings.rv_title }}</h2>
      
 
 

  {% assign limit = section.settings.rv_max_display %}
  {% assign loop_limit = section.settings.rv_max_display | minus: 1 %}


  {% if section.settings.rv_products_style == 'slider' %}
    {% assign visible_products = section.settings.rv_per %}

    <div class="rv-main category_wrap js-rv-slider slider-gallery products-slider products-length-{{ section.settings.rv_per }}"
          data-products-per-slide="{{ visible_products }}"
          data-products-limit="{{ limit }}"
          >
      {% for rvProducts in (0..loop_limit) %}
        <div class="gallery-cell   rv-box-element rv-box-{{ rvProducts }} rv-element" data-block="no">
          <!--Products are dynamically inserted-->
        </div>
      {% endfor %}
    </div>

  {% else %}
    {% assign products_per_row = section.settings.rv_per %}

    {% unless sidebar %}<div class="container related-products--grid">{% endunless %}
      <div class="sixteen columns">
        <div class="rv-main js-rv-grid clearfix product-list collection-matrix"
          data-products-per-slide="{{ section.settings.rv_per }}"
          data-products-limit="{{ limit }}">
          {% for rvProducts in (0..loop_limit) %}
            <div class="  rv-box-element rv-box-{{ rvProducts }} rv-element
            {% if products_per_row == 3 %}
              one-third column {% cycle 'alpha', '', 'omega' %}
            {% elsif products_per_row == 4 %}
              four columns {% cycle 'alpha', '', '', 'omega' %}
            {% elsif products_per_row == 5 %}
              one-fifth column {% cycle 'alpha', '', '', '', 'omega' %}
            {% endif %}
            {% cycle 'even', 'odd' %}">
              <!--Products are dynamically inserted-->
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
     </div>
  </div>
</div>
  {% if section.settings.rv_products_style == 'slider' %}
<style>
 .template-product .grid__item.grid_less_padding.large--one-quarter.medium--one-half.small--one-half.margin--bottom-15.custom--width-one-half {
    width: 100%;
}
</style>
{% endif %}
{% endif %}
{% schema %}
{
  "name": "Recently viewed products",
  "class": "recently-viewed",
  "settings": [
      {
      "type": "checkbox",
      "id": "enabileit",
      "label": "Enable" 
    },
    {
      "type": "text",
      "id": "rv_title",
      "label": "Title",
      "default": "Recently viewed products"
    },
    {
      "type": "radio",
      "id": "rv_products_style",
      "label": "Layout",
      "default": "slider",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "rv_max_display",
      "label": "Products limit",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 6
    } 
  ],
  "presets": [{
    "name": "Recently viewed products",
    "category": "Product"
  }]
}
{% endschema %}

